<template name="tabbar">
  <div class="toolbar tabbar tabbar-labels toolbar-bottom-md">
    <div class="toolbar-inner">
      <a class="tab-link tab-link-active" page="home">
        <i class="material-icons">home</i>
        <span class="tabbar-label">首页</span>
      </a>
      <a class="tab-link" page="order">
        <i class="material-icons">list</i>
        <span class="tabbar-label">订单</span>
      </a>
      <a class="tab-link" page="user">
        <i class="material-icons">person</i>
        <span class="tabbar-label">我的</span>
      </a>
    </div>
  </div>
</template>